/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color:rgb(0, 0, 0);
}
body {
  font-family: 'Arial', sans-serif;
  
  background-size: cover ;
  background-position: center;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

form {
  background-color: rgb(24, 22, 100);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(154, 141, 141);
  max-width: 400px;
  width: 100%;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 20px;
  border: 1px solid #f6f6f7;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fafafb;
  transition: border-color 0.3s ease-in-out;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 12px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 15px;
}
